{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie de chatons{% endblock %}
{% block body %}
    <h1> Bienvenue </h1>
    <h2> Modifier une catégorie </h2>
    {{ form(form) }}
{% endblock %}
