{% extends 'base.html.twig' %}

{% block title %}Gestion des photos de Chatons{% endblock %}
{% block body %}
    <h1> Bienvenue </h1>
    <h2> Ajouter une catégorie </h2>
    {{ form(form)}}
{% endblock %}
